.box{
    display: inline-block;
    position: relative;
    width: 12em;

    border: 0.15em solid lightpink;
    background: lightcyan;
    margin: 1em;
}

.content{
    text-align: center;
    margin-bottom: 0.5em;
    margin-top: 0.5em;
}

#inside1{
    position: absolute;
    display: inline-block;
   }
#inside2{
    width: 100%;
    display: inline-block;
}

.checkbox{
    margin-top: 0.5em;
    margin-left: 0.5em;
}

.center-screen {
    display: flex;
    justify-content: center;
}

.btn{
    position: relative;
    right: 0;
    margin-top: 5px;
}

.danger{
    background: lightcoral;
}
.safe{
    background: lightgreen;
}

